body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  background-color:#111;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /*border:10px solid black;*/
/*  background-color: solid red;
  border-color: CornflowerBlue;
  border-radius:50px;*/
  position:absolute;
}

.blink{
  height: 25px;
  width: 25px;
  background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  border-radius:500px;
}

.slide{
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background-color: purple;
  
}

.twinkle{
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background-color: green;
}

/*
https://leaverou.github.io/css3patterns/
*/